// Required
@import './node_modules/bootstrap/scss/functions';
@import './helpers/variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';

body{
  color: $dark;
  letter-spacing: 1.5px;
  .paragraph-line-height{
    line-height: $line-height-lg * 1.33;
  }
}
//component
@import './components/logo';
//custom & partial
@import './components/indexCustom';
@import './components/dropdownCustom'
