.container
  .row.d-flex.justify-content-center
    .col-md-6
      p
        | YU CHIAO KUO
        br
        | Born in 1993, Chai-yi, Taiwan
      p
        | Freelance illustrator based in UK/Taiwan
      p
        | Studying MA Illustration in Cambridge school of arts, ARU
        | BA, Spanish literature in Tamkang University
      p
        | I can speak Chinese, English, Spanish and basic Korean.
        | Welcome for any cooperation opportunities!