.container
  .row.d-flex.justify-content-center
    .col-lg-2
      h2
        | ABOUT
        br
        | ME
    .col-lg-6
      .pt-4.paragraph-line-height
        p
          | YU CHIAO KUO
          br
          | Born in 1993, Chai-yi, Taiwan
        p
          | Freelance illustrator based in UK/Taiwan
          br
          | MA Illustration in Cambridge school of arts, ARU
          br
          | BA degree in Taiwan, studied Spanish literature in Tamkang University
        p
          | I can speak Chinese, English, Spanish and basic Korean.
          br
          | Any cooperction opportunity please click CONTACT
    .col-lg-4
      img.pt-4(src="/public/img/aboutme.jpg", alt="aboutme")