.container
  .row.mt-4 
    .col-md-6
      h1.h2 CHIAO CHIAO
        br 
        | ILLUSTRATION
      img.rounded-circle(src='http://unsplash.it/200/200?gravity=center', alt='...')
    .col-md-6
      img(src='http://unsplash.it/530/180?gravity=center',alt='banner')
      nav.navbar.navbar-expand-lg.navbar-light
        //- a.navbar-brand(href='#') Navbar
        //- button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        //-   span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='#') ABOUT ME
            li.nav-item
              a.nav-link(href='#') PROJECT
            li.nav-item
              a.nav-link(href='#') CONTACT
            li.nav-item
              a.nav-link(href='#') BLOG
            li.nav-item
              a.nav-link(href='#') INSTAGRAM