.container
  .row.mt-4 
    .col-md-6
      include ./title.pug
      img.logo.ml-3(src='/public/img/logo.gif', alt='Logo')
    .col-md-6
      img.banner(src='/public/img/banner1.jpg',alt='banner')
      include ./navs.pug

