mixin overlay(href,title,src)
  .col-md-3.fadin
    a(href=href, data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src=src,alt="img")
      .overlay
        .text= title
.container
  .row.mt-5.d-flex.align-items-center
    +overlay('/public/img/index_pc_origin/index_01_PC_Dreaming_Diary.png','Dreaming Diary','/public/img/index_pc_image/index_01_PC_Dreaming_Diary.png')
    +overlay('/public/img/index_pc_origin/index_02_PC_Sunday.jpg','Sunday','/public/img/index_pc_image/index_02_PC_Sunday.jpg')
    +overlay('/public/img/index_pc_origin/index_03_PC_Secret_Forest.png','Secret_Forest','/public/img/index_pc_image/index_03_PC_Secret_Forest.png')
    +overlay('/public/img/index_pc_origin/index_04_PC_Whisperer.JPG','Whisperer','/public/img/index_pc_image/index_04_PC_Whisperer.JPG')
  .row.mt-5.d-flex.align-items-center
    +overlay('/public/img/index_pc_origin/index_05_PC_Grandpa_s_Garden_1.jpg','Garden_1','/public/img/index_pc_image/index_05_PC_Grandpa_s_Garden_1.jpg')
    +overlay('/public/img/index_pc_origin/index_06_PC_Grandpa_s_Garden_2.jpg','Garden_2','/public/img/index_pc_image/index_06_PC_Grandpa_s_Garden_2.jpg')
    +overlay('/public/img/index_pc_origin/index_07_PC_Grandpa_s_Garden_3.jpg','Garden_3','/public/img/index_pc_image/index_07_PC_Grandpa_s_Garden_3.jpg')
    +overlay('/public/img/index_pc_origin/index_08_PC_Grandpa_s_Garden_4.jpg','Garden_4','/public/img/index_pc_image/index_08_PC_Grandpa_s_Garden_4.jpg')
  .row.mt-5.d-flex.align-items-center
    +overlay('/public/img/index_pc_origin/index_09_PC_Charlie_n_Furry_s_adventure_1.png','Charlie_n_Furry_s_adventure_1','/public/img/index_pc_image/index_09_PC_Charlie_n_Furry_s_adventure_1.png')
    +overlay('/public/img/index_pc_origin/index_10_PC_Charlie_n_Furry_s_adventure_2.JPG','Charlie_n_Furry_s_adventure_2','/public/img/index_pc_image/index_10_PC_Charlie_n_Furry_s_adventure_2.JPG')
    +overlay('/public/img/index_pc_origin/index_11_PC_Charlie_n_Furry_s_adventure_3.JPG','Charlie_n_Furry_s_adventure_3','/public/img/index_pc_image/index_11_PC_Charlie_n_Furry_s_adventure_3.JPG')
    +overlay('/public/img/index_pc_origin/index_12_PC_Charlie_n_Furry_s_adventure_4.JPG','Charlie_n_Furry_s_adventure_4','/public/img/index_pc_image/index_12_PC_Charlie_n_Furry_s_adventure_4.JPG')
