.container
  .row.mt-5.d-flex.align-items-center
    a.col-md-3(href='/public/img/index_pc_origin/index_01_PC_Dreaming_Diary.png', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_01_PC_Dreaming_Diary.png",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_02_PC_Sunday.jpg', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_02_PC_Sunday.jpg",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_03_PC_Secret_Forest.png', data-toggle='lightbox', data-gallery='gallery', data-max-height="700")
      img.img-fluid(src="/public/img/index_pc_image/index_03_PC_Secret_Forest.png",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_04_PC_Whisperer.JPG', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_04_PC_Whisperer.JPG",alt="img")
  .row.mt-5.d-flex.align-items-center
    a.col-md-3(href='/public/img/index_pc_origin/index_05_PC_Grandpa_s_Garden_1.jpg', data-toggle='lightbox', data-gallery='gallery', data-max-height="700")
      img.img-fluid(src="/public/img/index_pc_image/index_05_PC_Grandpa_s_Garden_1.jpg",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_06_PC_Grandpa_s_Garden_1.jpg', data-toggle='lightbox', data-gallery='gallery', data-max-height="700")
      img.img-fluid(src="/public/img/index_pc_image/index_06_PC_Grandpa_s_Garden_2.jpg",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_07_PC_Grandpa_s_Garden_3.jpg', data-toggle='lightbox', data-gallery='gallery', data-max-height="700")
      img.img-fluid(src="/public/img/index_pc_image/index_07_PC_Grandpa_s_Garden_3.jpg",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_08_PC_Grandpa_s_Garden_4.jpg', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_08_PC_Grandpa_s_Garden_4.jpg",alt="img")
  .row.mt-5.d-flex.align-items-center
    a.col-md-3(href='/public/img/index_pc_origin/index_09_PC_Charlie_n_Furry_s_adventure_1.png', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_09_PC_Charlie_n_Furry_s_adventure_1.png",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_10_PC_Charlie_n_Furry_s_adventure_2.png.JPG', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_10_PC_Charlie_n_Furry_s_adventure_2.png.JPG",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_11_PC_Charlie_n_Furry_s_adventure_3.png.JPG', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_11_PC_Charlie_n_Furry_s_adventure_3.png.JPG",alt="img")
    a.col-md-3(href='/public/img/index_pc_origin/index_12_PC_Charlie_n_Furry_s_adventure_4.png.JPG', data-toggle='lightbox', data-gallery='gallery', data-max-width='900')
      img.img-fluid(src="/public/img/index_pc_image/index_12_PC_Charlie_n_Furry_s_adventure_4.png.JPG",alt="img")
