.container.mt-5
  .row 
    .col-md-3
      img.index-img(src="/public/img/tokyotower05.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/tokyotower05.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/tokyotower05.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/tokyotower05.jpg",alt="img")
