mixin overlay(href,title,src)
  .col-12.col-sm-6.col-md-4.col-lg-3.fadin.mt-3.mt-sm-0
    a(href=href, data-toggle='lightbox', data-gallery='gallery', data-max-width='900', data-max-height='700')
      img.mt-4.w-100.img-fluid(src=src,alt="img")
      .overlay
        .text= title
.container
  .row.mt-5.d-flex.align-items-center
    +overlay('/public/img/index_pc_origin/index_01_PC_Dreaming_Diary.png','Dreaming Diary','/public/img/index_pc_image/index_01_PC_Dreaming_Diary.png')
    +overlay('/public/img/index_pc_origin/index_02_PC_Sunday.jpg','Sunday','/public/img/index_pc_image/index_02_PC_Sunday.jpg')
    +overlay('/public/img/index_pc_origin/index_03_PC_Secret_Forest.png','Secret Forest','/public/img/index_pc_image/index_03_PC_Secret_Forest.png')
    +overlay('/public/img/index_pc_origin/index_04_PC_Whisperer.JPG','Whisperer','/public/img/index_pc_image/index_04_PC_Whisperer.JPG')
    +overlay('/public/img/index_pc_origin/index_05_PC_Grandpa_s_Garden_1.jpg',"Grandpa's Garden Cover",'/public/img/index_pc_image/index_05_PC_Grandpa_s_Garden_1.jpg')
    +overlay('/public/img/index_pc_origin/index_06_PC_Grandpa_s_Garden_2.jpg',"Grandpa's Garden",'/public/img/index_pc_image/index_06_PC_Grandpa_s_Garden_2.jpg')
    +overlay('/public/img/index_pc_origin/index_07_PC_Grandpa_s_Garden_3.jpg',"Grandpa's Garden",'/public/img/index_pc_image/index_07_PC_Grandpa_s_Garden_3.jpg')
    +overlay('/public/img/index_pc_origin/index_08_PC_Grandpa_s_Garden_4.jpg',"Grandpa's Garden",'/public/img/index_pc_image/index_08_PC_Grandpa_s_Garden_4.jpg')
    +overlay('/public/img/index_pc_origin/index_09_PC_Charlie_n_Furry_s_adventure_1.png',"Richard n Furry's adventure",'/public/img/index_pc_image/index_09_PC_Charlie_n_Furry_s_adventure_1.png')
    +overlay('/public/img/index_pc_origin/index_10_PC_Charlie_n_Furry_s_adventure_2.JPG',"Richard n Furry's adventure",'/public/img/index_pc_image/index_10_PC_Charlie_n_Furry_s_adventure_2.JPG')
    +overlay('/public/img/index_pc_origin/index_11_PC_Charlie_n_Furry_s_adventure_3.JPG',"Richard n Furry's adventure",'/public/img/index_pc_image/index_11_PC_Charlie_n_Furry_s_adventure_3.JPG')
    +overlay('/public/img/index_pc_origin/index_12_PC_Charlie_n_Furry_s_adventure_4.JPG',"Richard n Furry's adventure",'/public/img/index_pc_image/index_12_PC_Charlie_n_Furry_s_adventure_4.JPG')
  nav.mt-5(aria-label='Page navigation example')
    ul.pagination.justify-content-center
      li.page-item
        a.page-link(href='#', aria-label='Previous')
          span(aria-hidden='true') «
      li.page-item
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link(href='#', aria-label='Next')
          span(aria-hidden='true') »
