.container
  .row.mt-5
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_01_PC_Dreaming_Diary.png",alt="img")
      a.strip(href='/public/img/index_pc_image/index_01_PC_Dreaming_Diary.png') Show image
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_02_PC_Sunday.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_03_PC_Secret_Forest.png",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_04_PC_Whisperer.JPG",alt="img")
  .row.mt-5
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_05_PC_Grandpa_s_Garden_1.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_06_PC_Grandpa_s_Garden_1.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_07_PC_Grandpa_s_Garden_3.jpg",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_08_PC_Grandpa_s_Garden_4.jpg",alt="img")
  .row.mt-5
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_09_PC_Charlie_n_Furry_s_adventure_1.png",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_10_PC_Charlie_n_Furry_s_adventure_2.png.JPG",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_11_PC_Charlie_n_Furry_s_adventure_3.png.JPG",alt="img")
    .col-md-3
      img.index-img(src="/public/img/index_pc_image/index_12_PC_Charlie_n_Furry_s_adventure_4.png.JPG",alt="img")

