ul.nav.justify-content-between
  li.nav-item
    a.text-dark.nav-link(href='/about.html') ABOUT ME
  li.nav-item
    a.text-dark.nav-link(href='/project.html') PROJECT
  li.nav-item
    a.text-dark.nav-link(href='mailto:vdog8122@gmail.com' target='_blank') CONTACT
  li.nav-item
    a.text-dark.nav-link(href='https://dreamingdiarychiao.home.blog/') BLOG
  li.nav-item
    a.text-dark.nav-link(href='https://www.instagram.com/dreamingdiary91/' target='_blank') INSTAGRAM