nav.px-xl-5.mx-xl-5.sticky-top.navbar.navbar-expand-lg.navbar-light.bg-white
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerIndex', aria-controls='navbarTogglerIndex', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarTogglerIndex.collapse.navbar-collapse
    ul.navbar-nav.ml-auto.mt-2.mt-lg-0
      li.nav-item.px-3
        a.nav-link(href='/about.html') ABOUT ME
      li.nav-item.px-3
        a.nav-link(href='/project.html') PROJECT
      li.nav-item.px-3
        a.nav-link(href='mailto:vdog8122@gmail.com', target='_blank') CONTACT
      li.nav-item.px-3
        a.nav-link(href='https://dreamingdiarychiao.home.blog/', target='_blank') BLOG
      li.nav-item.pl-3
        a.nav-link(href='https://www.instagram.com/dreamingdiary91/', target='_blank') INSTAGRAM
