.container
  .row
    .col-lg-12.col-xs-3
      h2 PROJECT
  .row
    //mobile image
    .col-4.d-block.d-sm-none
      img.w-100.rounded-circle(src="/public/img/index_pc_origin/index_09_PC_Charlie_n_Furry_s_adventure_1.png", alt="alt")
    .col-8.d-block.d-sm-none
      h4 RICHARD AND FURRY’S ADVENTURE
    //pc image
    .col-sm-4.d-none.d-sm-block
      img.w-100(src="/public/img/index_pc_origin/index_09_PC_Charlie_n_Furry_s_adventure_1.png", alt="alt")
    .col-12.col-sm-8
      h2.d-none.d-sm-block RICHARD AND FURRY’S ADVENTURE
      p.mt-3 
        | Richard and Furry are ready to go to catch moonlight fish! As the best fisherman in the village, 
        br
        | he is quite ambitious!
        br
        | When they are “borrowing” map from the scary witch, they hear some noise from the attic. 
        br
        | "Richard, we should check it out!"  said by Furry.
        br
        | It is a moonlight fairy in a jar! She needs our help!
        br
        | "We will take you to sun moon lake safely, no worry."Richard hold her softly and start his adventure!
  // carousel
  .row.mt-3.d-flex.justify-content-center
    .col-md-6
      #richardNFurysAdventure.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/public/img/index_pc_origin/index_09_PC_Charlie_n_Furry_s_adventure_1.png', alt='First slide')
          .carousel-item
            img.d-block.w-100(src='/public/img/index_pc_origin/index_10_PC_Charlie_n_Furry_s_adventure_2.JPG', alt='Second slide')
          .carousel-item
            img.d-block.w-100(src='/public/img/index_pc_origin/index_11_PC_Charlie_n_Furry_s_adventure_3.JPG', alt='Third slide')
          .carousel-item
            img.d-block.w-100(src='/public/img/index_pc_origin/index_12_PC_Charlie_n_Furry_s_adventure_4.JPG', alt='Third slide')
        a.carousel-control-prev(href='#richardNFurysAdventure', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#richardNFurysAdventure', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

