header {
  h1 {
    a,
    a:hover,
    a:focus {
      text-decoration: none;
      color: $dark;
    }
  }
  .logo{
    width: 100px;
  }
  .banner{
    
  }
  .nav-link:hover{
    color: #160A62 !important;
  }
}